<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="../../../resource/css/signin-signup-background.css"
    />
  </head>
  <body>
    <div class="header">
      <div class="header-container">
        <div class="header-container-left">
          <a href="" class="header-container-left-item1"></a>
          <div class="header-container-left-item2">Đăng nh</div>
        </div>
        <div class="header-container-right">
          <a href="" class="header-container-right-item">Bạn cần giúp đỡ?</a>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="body-container">
        <div class="signup-container">
            <div class="signup-container-row">
                <p>Đăng ký</p>
            </div>
            <div class="signup-container-row">
                <input type="email" name="email" id="" placeholder="Email">
            </div>
            <div class="signup-container-row">
                <input type="text" name="password" id="" placeholder="password">
            </div>
            <div class="signup-container-row">

            </div>
            <div class="signup-container-row">

            </div>
            <div class="signup-container-row">

            </div>
            <div class="signup-container-row">

            </div>
            <div class="signup-container-row">

            </div>
            <div class="signup-container-row">

            </div>

        </div>
      </div>
    </div>
  </body>
</html>
